<div class="form-group">
    <%= f.label :labels %>
// #16
    <%= f.text_field :labels,
                     class: 'form-control',
                     placeholder: "Enter labels (separated by commas)",
                     value: labels.map(&:name).join(', ') %>
  </div>
