<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
</head>
<body>
<h1>You're now following "<%= @post.title %>", you will be notified of all comments. If you don't wish to receive further notifications, unfavorite your <%= link_to "post", topic_post_url(@post.topic, @post) %>.</h1>
<p>
  <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
</p>
</body>
</html>  
